clisops @ git+https://github.com/roocs/clisops.git@master#egg=clisops
woodpecker @ git+https://github.com/roocs/woodpecker.git@v0.7.0
woodpecker-atlas-plugin @ git+https://github.com/roocs/woodpecker.git@v0.7.0#subdirectory=plugins/woodpecker-atlas-plugin
woodpecker-cmip6-decadal-plugin @ git+https://github.com/roocs/woodpecker.git@v0.7.0#subdirectory=plugins/woodpecker-cmip6-decadal-plugin
