daops @ git+https://github.com/roocs/daops.git@regrid-main-ce#egg=daops
clisops @ git+https://github.com/roocs/clisops.git@master#egg=clisops
roocs-utils @ git+https://github.com/roocs/roocs-utils.git@master#egg=roocs_utils
