# pywps>=4.4.0,<4.5
pywps @ git+https://github.com/geopython/pywps.git@pywps-4.4#egg=pywps
jinja2
click
psutil
# daops
daops>=0.5.0
clisops>=0.6.1
roocs-utils>=0.2.1
xarray>=0.16
dask[complete]
netcdf4
# workflow
networkx
# provenance
prov>=2.0.0
pydot
