pywps>=4.5.2,<4.6
jinja2
click
psutil
# daops
daops>=0.8.1,<0.9
#daops @ git+https://github.com/roocs/daops@fix-xarray#egg=daops
clisops>=0.9.4,<0.10
#clisops @ git+https://github.com/roocs/clisops@master#egg=clisops
roocs-utils>=0.6.3,<0.7
xarray>=0.20,<0.22
dask[complete]
netcdf4
# workflow
networkx
# provenance
prov>=2.0.0
pydot
# catalog
intake
pandas>=1.3.5,<1.4
aiohttp
# dashboard
bokeh>=2.4.2,<2.5
humanize
