pip>=23.1.0
bump2version>=0.5.11
coverage>=4.5.4
click>=7.0
cruft
flake8
ipython>=8.13.0
nbval>=0.10.0
pytest>=6.2.4
pytest-cov
pytest-flake8
pytest-notebook
nbsphinx>=0.9.5
nbval>=0.9.6
nbconvert
sphinx>=1.8.5
tox>=4.0
twine>=4.0
wheel
# Changing dependencies above this comment will create merge conflicts when updating the cookiecutter template with cruft. Add extra requirements below this line.
black>=24.8.0
pre-commit>=3.5.0
GitPython>=3.1.12
beautifulsoup4
