pywps>=4.4.2,<4.5
jinja2
click
psutil
# daops
# daops>=0.5.0
daops @ git+https://github.com/roocs/daops.git@master#egg=daops
clisops>=0.6.3
# roocs-utils>=0.3.0
roocs-utils @ git+https://github.com/roocs/roocs-utils.git@master#egg=roocs-utils
xarray>=0.16
dask[complete]
netcdf4
# workflow
networkx
# provenance
prov>=2.0.0
pydot
